cost1.red {
    background-color: #c00202;
    font-family: Comic Sans MS;
}

cost1.green {
    background-color: #1edb05;
    font-family: Comic Sans MS;
}

cost2.red {
    background-color: #c00202;
    font-family: Comic Sans MS;
}

cost2.green {
    background-color: #1edb05;
    font-family: Comic Sans MS;
}