click {
    background-color: green;
    font-family: Comic Sans MS;
}

h2 {
    font-family: Comic Sans MS;
    color: darkred;
}


body {
    background-color: red;
}

h1 {
    font-family: Comic Sans MS;
    color: darkred;
}